.border {
    border: 2px grey;
    margin: 1px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}
.p-1{
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    height: 90vh;
    padding: 20px; 
}


::-webkit-scrollbar {
    width: 10px;
    height: 5px;
   
}


::-webkit-scrollbar-thumb {
background: #888;     
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
